<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
   		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<body>

<h2>Informations</h4>

<hr>

<h4>Users</h4>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>CPF</th>
    <th>Birth Date</th>
  </tr>
  <tr th:each="anUser : ${usersList}">
  	<td th:text="${anUser.name}">
    <td th:text="${anUser.email}">
    <td th:text="${anUser.cpf}">
    <td th:text="${anUser.birth}">
 </tr>
</table>

<hr>
	
<h4>Vehicles</h4>
<table>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Year</th>
  </tr>
  <tr th:each="aVehicle : ${vehiclesList}">
  	<td th:text="${aVehicle.brand}">
    <td th:text="${aVehicle.model}">
    <td th:text="${aVehicle.year}">
 </tr>
 </table>

</body>

</html>











