<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
   		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>



<body>
 				
		<div class="container">
			<form action="/users/save" th:object="${user}"  method="POST">
			
			<input type="text" placeholder="User Name"  	    th:field="${user.name}"> 
				<input type="text" placeholder="User Email" 	th:field="${user.email}">
				<input type="text" placeholder="User CPF"   	th:field="${user.cpf}">
				<input type="text" placeholder="User Birthdate" th:field="${user.birth}">
				
				<button type="submit">Add User</button>
			</form>
		</div>
		
	
		
</body>
</html>